@font-face {
    font-family: 'Amazon Ember Light';
    src: url('assets/fonts/AmazonEmber_Lt.woff');
}

@font-face {
    font-family: 'Amazon Ember RG';
    src: url('assets/fonts/AmazonEmber_Rg.woff');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Amazon Ember RG', sans-serif;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}


header {
    background-color: #00050d;
    height: 56px;
}

nav {
    font-size: 18px;
    width: 60%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 40%;
}

nav img {
    height: 100%;
}


.main_nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.side_nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a {
    text-decoration: none;
    color: #949494;
    padding: 10px;
    text-align: center;
}

.hero {
    width: 100%;
    background-image: url('assets/images/hero_image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    height: 70vh;
}

.hero-texto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
    width: 80%;
    height: 100%;
    background: linear-gradient(to right, black 40%, transparent);
    color: white;
}

.hero-texto h1{
    font-family: 'Amazon Ember Light';
    font-size: 40px;
    line-height: 48px;

}

.hero-texto p{
    margin-top: 12px;
    width: 50%;
    font-family: 'Amazon Ember Light';
    font-size: 21px;
    line-height: 27.2px;
}
.button{
    width: 25%;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
}

.button p{
    width: fit-content;
    padding: 8px;
    margin: 0;
    font-size: 16px;
    text-align: center;
}

.break{
    display: flex;
    align-items: center;
}

.break-line{
    flex: 1;
    height: 2px;
    background-color: #949494;
}

button{
    background-color: #0f79af;
    border: none;
    padding: 16px;
    color: #fff;
}

#asterisco{
    margin-top: 16px;
    font-size: 14px;
}

.prime-canais{
    margin: 16px 0;
    gap: 16px;
    display: flex;
    justify-content: space-between;
}

.prime-canais-texto{
    width: 50%;
    padding: 25px 50px;
}

.prime-canais-texto h2{
    font-family: 'Amazon Ember Light';
    font-weight: 400;
    font-size: 44px;
    line-height: 48px;
    margin-bottom: 25px;
}

.prime-canais-texto p{
    font-family: 'Amazon Ember Light';
    font-weight: 100;
    font-size: 24px;
    line-height: 28px;
}

.prime-canais-logos{
    margin-right: 16px;
    width: 50%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px;
}

.prime-canais-logos img{
    display: block;
    width: 100%;
}

.prime-canais-logos a:hover{
    box-shadow: 0 0 15px black; 
}

.store{
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    display: flex;
    align-items: flex-end;
background-image: url('assets/images/video-store.jpg');
background-position: left;

}

.store-texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    padding: 50px;
    padding-left: 55%;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, black 40%, transparent);
    color: white;
}


.store-texto h2{
    margin-top: 24px;
    font-family: 'Amazon Ember Light';
    font-size: 40px;
    line-height: 48px;

}

.store-texto p{
    margin-top: 12px;
    font-family: 'Amazon Ember Light';
    font-size: 21px;
    line-height: 27.2px;
}

#alugar{
    margin-top: 16px;
    width: 40%;
    font-size: 18px;
}

.bottom-hero{
    display: flex;
    justify-content: space-evenly;
    padding: 48px;
}

.card{
    flex-basis: 0;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.card h2{
    font-family: 'Amazon Ember Light';
    font-size: 36px;
    text-align: center;
    margin-bottom: 16px;
}

.card p{
    font-size: 24px;
    font-family: 'Amazon Ember Light';
}

footer{
    padding: 24px;
    text-align: center;
    background-color: #222;
    color: #949494;    
}

footer a{
    font-family: 'Amazon Ember Light';
    text-decoration: none;
    margin-left: 8px;
    color: #0f79af;
}

footer p{
    font-family: 'Amazon Ember Light';
}